.body{
    display: flex;
    width: 100%;
    height: 60vh;
    background-color: burlywood;
}
.directives{
    display: flex;
    margin: auto;
    width: max-content;
}
.dir-btn{
}
.dir-table{
    width: 500px;
    margin-left: 100px;
}
.dir-table p{
    width: 30px;
    line-height: 30px;
    margin-right: 50px;
    margin-bottom: 30px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    height: fit-content;
    text-align: center;
}
.btn{
    width: 200px;
    margin: 50px 50px;
    background-color: brown;
    font-size: 15px;
    font-weight: bold;
    display: block;
    color: white;
    padding: 10px;
}
.clear{
    background-color: blueviolet;
    color: white;
}
.div2,.div3,.div5,.div10{
    background-color: #2E4F4F;
    color: #CBE4DE;
}
.viewchild{
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
}
.viewchild input{
    width: 200px;
    margin: 50px 0;
}
.viewchild .result{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.viewchild .result h2{
    margin: 20px 0;
}
.viewchild .result h3{
    margin-bottom: 20px;
}